  <div ng-repeat="meal in Meals">
    <div class="info-input">
        <div class="item-label">
        	{{form.dish_name.label }}
        </div>
        <div class="item-detail">
            <input type="text" name="item_name[]" required/>
            {{ form.dish_name }}
        </div>
    </div>
    <div class="info-input">
        <div class="item-label">
        	{{ form.dish_price.label }}
        </div>
        <div class="item-detail">
            <input type="text" name="item_price[]" required/>
            {{ form.dish_price }}
        </div>
    </div>
</div>
<!-- {% if item_error %}
<small style="color: red">Please enter a valid number</small>
{% endif %} -->

                    <script>
                            var Mapp = angular.module('mealApp', []);
                            Mapp.controller('mealController', function($scope) {
                                $scope.Meals = [{
                                    Id: 1
                                    }];
                                $scope.id = 2;
                                $scope.addElement = function() {
                                    $scope.Meals.push({
                                        Id: $scope.id
                                    });
                                    $scope.id = $scope.id + 1;
                                };
                                $scope.removeElement = function () {
                                    if($scope.id > 2) {
                                        $scope.Meals.pop();
                                        $scope.id = $scope.id - 1;
                                    }
                                };
                            });
                        </script>
                        <div class="info-content">
                            <div ng-repeat="meal in Meals">
                                <!-- {% for dish in form.dishes.entries %} -->
                                    <div class="info-input">
                                        <div class="item-label">
                                            {{ dish.dish_name.label }}
                                        </div>
                                        <div class="item-detail">
                                            {{ dish.dish_name }}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-label">
                                            {{ dish.dish_price.label }}
                                        </div>
                                        <div class="item-detail">
                                            {{ dish.dish_price }}
                                        </div>
                                    </div>
                                <!-- {%endfor%} -->
                            </div>
                            <div class="add-meal-btn" style="margin-bottom: 10px">
                                <button type="button" ng-click="addElement()">+</button>
                            </div>
                            <div class="add-meal-btn" style="margin-bottom: 10px">
                                <button type="button" ng-click="removeElement()">-</button>
                            </div>
                        </div>

                        <!-- <div class="info-input">
                                <div class="item-label">
                                    {{ form.place_type.label}}
                                </div>
                                    {% if form.place_type.errors %}
                                    <div class='item-detail'>
                                        {{ form.place_type}}
                                        <div class="invalid-feedback">
                                        {% for error in form.place_type.errors %}
                                            <span>
                                                {{ error }}
                                            </span>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="item-detail">
                                        {{form.place_type}}
                                    </div>
                                    {% endif %}
                        </div> -->
                        <!-- <div class="info-input">
                            <div class="item-label">
                                {{ form.area.label }}
                            </div>
                            <div class="item-detail">
                                {% if form.area.errors %}
                                <div class='item-detail'>
                                    {{ form.area}}
                                    <div class="invalid-feedback">
                                    {% for error in form.area.errors %}
                                        <span>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <div>
                                    {{ form.area }}
                                </div>
                                {% endif %}
                            </div>
                        </div> -->

                        <!-- <div class="info-input">
                                <div class="item-label">
                                    {{ form.rating.label }}
                                </div>
                                <div class="item-detail">
                                    {{ form.rating }}
                                </div>
                        </div> -->

advanced search box
<div id="advance_search" class="advance-search unselectable" ng-init="type='area'" ng-hide="show!='true'">
                                <div class="sf-left">
                                    <ul class="sf-cate">
                                        <li ng-click="changeType('area')">
                                            <i class="fa fa-location-arrow"></i>
                                            <label style="margin-bottom: 0px; margin-left: 3px;">Khu vực</label>
                                            <i class="fa fa-angle-right" style="float: right"></i>
                                        </li>
                                        <li ng-click="changeType('price')">
                                            <i class="fa fa-bars"></i>
                                            <label style="margin-bottom: 0px; margin-left: 3px;">Mức giá</label>
                                            <i class="fa fa-angle-right" style="float: right"></i>
                                        </li>
                                        <li ng-click="changeType('category')">
                                            <i class="fa fa-cutlery"></i>
                                            <label style="margin-bottom: 0px; margin-left: 3px; ">Phân loại</label>
                                            <i class="fa fa-angle-right" style="float: right"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sf-right">
                                    <div class="sf-result" ng-hide="type!='area'">
                                        <!-- <ul>
                                            <li ng-repeat="district in Districts">
                                                <label class="checkbox-container" style="font-family: arial">{{ form.area }}
                                                    <input type="checkbox" ng-model="district.Selected">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>   
                                        </ul> -->
                                        {{form.area(class='checkbox-container')}}
                                    </div>
                                    <div class="sf-result" ng-hide="type!='price'">
                                        <!-- <ul>
                                            <li ng-repeat="price in Prices">
                                                <label class="checkbox-container" style="font-family: arial">
                                                    <input type="checkbox" ng-model="price.Selected">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul> -->
                                        {{form.price_range}}
                                    </div>
                                    <div class="sf-result" ng-hide="type!='category'">
                                        <ul>
                                            <li ng-repeat="cate in Cates">
                                                <label class="checkbox-container" style="font-family: arial">
                                                    <input type="checkbox" ng-model="cate.Selected">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-bottom">
                                    <div class="sf-btns">
                                        <a class="fd-btn" href="" style="text-decoration:none;" ng-click="search()">Tìm kiếm</a>
                                        <a class="fd-btn" href="" style="text-decoration:none;" ng-click="clearFilter()">Xóa bộ lọc</a>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                  $("#filtertest").click(function(){
                                    alert('cliked');
                                    // $("#advance_search").hide(1000);
                                  });
                                });
                            </script>
end advanced search box                            