{% extends 'simple_layout.html' %}
{% block content %}
		<section class="light-bg review-details_wrap">
			<div class="container">
				<div class="review-checkbox_wrap" style="height: auto;">
						<div class="review-checkbox" name="detailed_info" style="margin-top: 50px">
							<span class="ti-check-box"></span>
							<h6 style="display: inline-block;">Personal Informations</h6>
							<hr>
						</div>
							<form action="" method='post' enctype="multipart/form-data">
								{{ form.hidden_tag() }}
								<div class="info-content">
										<div class="info-input">
											<div class="item-label">{{form.username.label}}</div>
											{% if form.username.errors %}
											<div class="item-detail">
												{{form.username(class='item-detail is-invalid', value=current_user.username)}}
											</div>
												<div class="invalid-feedback">
												{% for error in form.username.errors %}
													<span>
														{{ error }}
													</span>
												{% endfor %}
												</div>
											{% else %}
											<div class="item-detail">
												{{form.username(class='item-detail', value=current_user.username)}}
											</div>
											{% endif %}
										</div>
										<div class="info-input">
											<div class="item-label">{{form.email.label}}</div>
											{% if form.email.errors %}
											<div class="item-detail">
												{{form.email(class='item-detail is-invalid', value=current_user.email)}}
											</div>
												<div class="invalid-feedback">
												{% for error in form.email.errors %}
													<span>
														{{ error }}
													</span>
												{% endfor %}
												</div>
											{% else %}
											<div class="item-detail">
												{{form.email(class='item-detail', value=current_user.email)}}
											</div>
											{% endif %}
										</div>
								</div>
								<div class="info-content">
									<div class="info-input">
										<div class="item-label" style="width: 100%">{{form.bio.label}}</div>
										<!-- <textarea id="Description" style="opacity: 0.7; width: 70%; height: 200px; padding: 16px">Description</textarea> -->
										<style type="text/css">
											.bio{
												opacity: 0.7;
												width: 70%;
												height: 100%;
												padding: 16px;
											}
										</style>
										{% if current_user.bio is not none %}
										<div class="item-detail">
											{{form.bio(class='bio')}}	
										</div>
											<script type="text/javascript">document.getElementById("bio").defaultValue = "{{current_user.bio}}";</script>
										{% else %}
										<div class="item-detail">
											{{form.bio(class='bio', id='bio', placeholder='Tell us about you! ')}}
										</div>
										{% endif %}
									</div>
								</div>
								<div class="info-content">
									<div class="info-input">
										{{form.picture.label}}
										{{form.picture(class = 'form-control-file')}}
										{% if form.picture.errors %}
											{% for error in form.picture.errors %}
												<span class='text-danger'>{{ error }}</span>
											{% endfor %}
										{% endif %}
									</div>
								</div>
								{{ form.submit(class='btn submit_btn')}}
							</form>
					</div>
				</div>
			</div>
		</section>
		<!--//END REVIEW DETAILS -->
{% endblock content %}