{% extends 'simple_layout.html' %}
{% block content %}
<section class="light-bg review-details_wrap">
	<div class="container">
		<div class="review-checkbox_wrap" style="height: auto;">
			<div ng-app="mealApp" ng-controller="mealController">
				<div class="review-checkbox" name="basic_info" >
					<span class="ti-check-box"></span>
					<h6 style="display: inline-block;">Thông tin cơ bản</h6>
					<hr>
				</div>
				<form action="" method='post' enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					<div class="info-content">
						<div class="info-input">
							<div class="item-label">
								{{ form.place_name.label}}
							</div>
								{% if form.place_name.errors %}
								<div class='item-detail'>
									{{ form.place_name}}
									<div class="invalid-feedback">
									{% for error in form.place_name.errors %}
										<span>
											{{ error }}
										</span>
									{% endfor %}
									</div>
								</div>
								{% else %}
								<div class="item-detail">
									{{form.place_name}}
								</div>
								{% endif %}
						</div>
						<div class="info-input">
							<div class="item-label">
								{{ form.address.label}}
							</div>
								{% if form.address.errors %}
								<div class='item-detail'>
									{{ form.address}}
									<div class="invalid-feedback">
									{% for error in form.address.errors %}
										<span>
											{{ error }}
										</span>
									{% endfor %}
									</div>
								</div>
								{% else %}
								<div class="item-detail">
									{{form.address}}
								</div>
								{% endif %}
						</div>
						<div class="info-input">
							<div class="item-label">
								{{ form.place_type.label}}
							</div>
							{% if form.place_type.errors %}
							<div class='item-detail'>
								{{ form.place_type}}
								<div class="invalid-feedback">
								{% for error in form.place_type.errors %}
									<span>
										{{ error }}
									</span>
								{% endfor %}
								</div>
							</div>
							{% else %}
							<div class="item-detail">
								{{form.place_type}}
							</div>
							{% endif %}
						</div>
						<div class="info-input">
							<div class="item-label">
								{{ form.area.label }}
							</div>
							<div class="item-detail">
								{% if form.area.errors %}
								<div class='item-detail'>
									{{ form.area}}
									<div class="invalid-feedback">
									{% for error in form.area.errors %}
										<span>
											{{ error }}
										</span>
									{% endfor %}
									</div>
								</div>
								{% else %}
								<div>
									{{ form.area }}
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="info-content">
						<div class="info-input">
							<div class="item-label">
								{{ form.openning_time_hour.label }}
							</div>
							<div class="item-detail">
								{{ form.openning_time_hour }}
								{{ form.openning_time_minute(class="second") }}
							</div>
						</div>
						<div class="info-input">
							<div class="item-label">
								{{ form.closing_time_hour.label }}
							</div>
							<div class="item-detail">
								{{ form.closing_time_hour }}
								{{ form.closing_time_minute(class="second") }}
							</div>
						</div>
						<style type="text/css">
							.second{
								margin-left: 10px;
							}
						</style>
					</div>
					<div class="review-checkbox" name="detailed_info" style="margin-top: 50px">
						<span class="ti-check-box"></span>
						<h6 style="display: inline-block;">Thông tin chi tiết</h6>
						<hr>
					</div>
                    <div class="info-content">
                		<div id="dish-_-form" class="is-hidden" data-index="_">
                			<div class="info-input">
		                    	<div class="item-label">
				            		<label for="dishes-_-dish_name" class="item-label">Tên Món</label>
		                    	</div>
		                    	<div class="item-detail">
						            <input id="dishes-_-dish_name" name="dishes-_-dish_name" type="text" value="" class="item-detail">
		                    	</div>
	                    	</div>
	                    	<div class="info-input">
		                    	<div class="item-label">
						            <label for="dishes-_-dish_price" class="item-label">Giá Món</label>
		                    	</div>
		                    	<div class="item-detail">
						            <input id="dishes-_-dish_price" name="dishes-_-dish_price" type="text" class="item-detail">
		                    	</div>
	                    	</div>
	                        <a class="remove" href="#" style="float: right;">Remove</a>
	                    </div>
				        <div id="subforms-container">
			                {% for dish in form.dishes %}
			                    <div id="lap-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
			                    	<div class="info-input">
				                    	<div class="item-label">
				                        	{{ dish.dish_name.label }}
				                    	</div>
				                    	<div class="item-detail">
				                        	{{ dish.dish_name }}
				                    	</div>
			                    	</div>
			                    	<div class="info-input">
				                    	<div class="item-label">
			                        		{{ dish.dish_price.label }}
				                    	</div>
				                    	<div class="item-detail">
					                        {{ dish.dish_price}}
				                    	</div>
			                    	</div>
			                        <a class="remove" href="#" style="float: right;">Remove</a>
			                    </div>
			                {% endfor %}
			            </div>
                        <script>
				            /**
				             * Adjust the indices of form fields when removing items.
				             */
				            function adjustIndices(removedIndex) {
				                var $forms = $('.subform');

				                $forms.each(function(i) {
				                    var $form = $(this);
				                    var index = parseInt($form.data('index'));
				                    var newIndex = index - 1;

				                    if (index < removedIndex) {
				                        // Skip
				                        return true;
				                    }

				                    // Change ID in form itself
				                    $form.attr('id', $form.attr('id').replace(index, newIndex));
				                    $form.data('index', newIndex);

				                    // Change IDs in form inputs
				                    $form.find('input').each(function(j) {
				                        var $item = $(this);
				                        $item.attr('id', $item.attr('id').replace(index, newIndex));
				                        $item.attr('name', $item.attr('name').replace(index, newIndex));
				                    });
				                });
				            }

				            /**
				             * Remove a form.
				             */
				            function removeForm() {
				                var $removedForm = $(this).closest('.subform');
				                var removedIndex = parseInt($removedForm.data('index'));

				                $removedForm.remove();

				                // Update indices
				                adjustIndices(removedIndex);
				            }

				            /**
				             * Add a new form.
				             */
				            function addForm() {
				                var $templateForm = $('#dish-_-form');

				                if (!$templateForm) {
				                    console.log('[ERROR] Cannot find template');
				                    return;
				                }

				                // Get Last index
				                var $lastForm = $('.subform').last();

				                var newIndex = 0;

				                if ($lastForm.length > 0) {
				                    newIndex = parseInt($lastForm.data('index')) + 1;
				                }

				                // Maximum of 20 subforms
				                if (newIndex > 20) {
				                    console.log('[WARNING] Reached maximum number of elements');
				                    return;
				                }

				                // Add elements
				                var $newForm = $templateForm.clone();

				                $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
				                $newForm.data('index', newIndex);

				                $newForm.find('input').each(function(idx) {
				                    var $item = $(this);

				                    $item.attr('id', $item.attr('id').replace('_', newIndex));
				                    $item.attr('name', $item.attr('name').replace('_', newIndex));
				                });

				                // Append
				                $('#subforms-container').append($newForm);
				                $newForm.addClass('subform');
				                $newForm.removeClass('is-hidden');

				                $newForm.find('.remove').click(removeForm);
				            }


				            $(document).ready(function() {
				                $('#add').click(addForm);
				                $('.remove').click(removeForm);
				            });
				        </script>

				        <style>
				            .is-hidden {
				                display: none;
				            }
				        </style>
                        <div class="add-meal-btn" id="add" style="margin-bottom: 10px">
                            <button type="button" ng-click="addElement()">+</button>
                        </div>
                        <!-- <div class="add-meal-btn" id="remove_btn" style="margin-bottom: 10px">
                            <button type="button" ng-click="removeElement()">-</button>
                        </div> -->
                    </div>
					<!-- <div class="info-content"> -->
					<div class="info-content">
						<div class="info-input">
							{{ form.review.label }}
							{{ form.review(class="review-detail")}}
							<style type="text/css">
								.review-detail{
									width: 100%;
									height: 400px;
									padding: 16px;
								}
							</style>
						</div>
						<div class="info-input">
							<div class="item-label">
								{{ form.rating.label }}
							</div>
							<div class="item-detail">
								{{ form.rating }}
							</div>
						</div>
					</div>
					<div class="info-content">
						<div class="info-input">
							<div class="item-label" style="width: 100%">
								{{ form.pictures.label }}
							</div>
							<div id="wrapper" style="margin-top: 30px">
								{{form.pictures(class = 'form-control-file')}}
								{% if form.pictures.errors %}
									{% for error in form.pictures.errors %}
										<span class='text-danger'>{{ error }}</span>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
					{{ form.submit(class="btn submit_btn")}}
				</form>	
			</div>
		</div>
	</div>
</section>
{% endblock content %}