{% extends 'simple_layout.html' %}
{% block content %}
		<!--============================= TAB BUTTONS =============================-->
		<section class="store-block">
			<div class="container" style="left:0;border:0;padding:0">
				<div class="row">
					<!-- TABS -->
					<div class="tab">
					  <button class="tablinks" onclick="openTab(event, 'reviews')">REVIEWS</button>
					  <button class="tablinks" id="defaultOpenTab" onclick="openTab(event, 'infos')">INFO</button>
					  <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
					</div>
					<style type="text/css">
						/* Style the tab */
						.tab {
						  overflow: auto;
						  border: none;
						  background-color: #f1f1f1;
						}
						.tablinks{
							width:50%;
							margin:0 auto;
							font-weight: bold;
							font-size: 20px;
						}

						/* Style the buttons that are used to open the tab content */
						.tab button {
						  background-color: inherit;
						  float: left;
						  border: none;
						  outline: none;
						  cursor: pointer;
						  padding: 14px 16px;
						  transition: 0.3s;
						}

						/* Change background color of buttons on hover */
						.tab button:hover {
						  background-color: #ddd;
						}

						/* Create an active/current tablink class */
						.tab button.active {
						  background-color: #ccc;
						}

						/* Style the tab content */
						.tabcontent {
						  display: none;
						  padding: 6px 12px;
						  border: 1px solid #ccc;
						  border-top: none;
						}
					</style>
					<script>
						function openTab(evt, tabname) {
						  // Declare all variables
						  var i, tabcontent, tablinks;

						  // Get all elements with class="tabcontent" and hide them
						  tabcontent = document.getElementsByClassName("tabcontent");
						  for (i = 0; i < tabcontent.length; i++) {
						    tabcontent[i].style.display = "none";
						  }

						  // Get all elements with class="tablinks" and remove the class "active"
						  tablinks = document.getElementsByClassName("tablinks");
						  for (i = 0; i < tablinks.length; i++) {
						    tablinks[i].className = tablinks[i].className.replace(" active", "");
						  }

						  // Show the current tab, and add an "active" class to the button that opened the tab
						  document.getElementById(tabname).style.display = "block";
						  evt.currentTarget.className += " active";
						}
					</script>
					<!-- END TABS -->
				</div>
			</div>
		</section>
		<!--//END DESCRIPTION -->
		
		<!--============================= REVIEW DETAILS =============================-->
		<div id="reviews" class="tabcontent">
			<!-- LIKED REVIEWS BEGIN -->
			<section class="main-block">
				<div class="container" id="row_of_review">
					<div class="row justify-content-center">
						<div class="col-md-5">
							<div class="styled-heading">
								<h3>LIKED</h3>
							</div>
						</div>
					</div>
					<div class="row" > <!-- LIKED REIVEWS -->
						<div class="col-md-4 featured-responsive">
							<div class="featured-place-wrap">
								<a href="detail.php?review_id=<?php echo $result[$cnt]["id"]; ?>">

								<!--session for detail.php not in ajax-->
								<a href="review_id">;
									<img src="" class="img-fluid" alt="#">
									<span class="<?php echo $class_rating?>">Rating</span>
									<div class="featured-title-box">
										<h6 name="store_name">Store name</h6>
										<p name="store_type">loai</p>
										<!--<p><span>$$$</span>$$</p>--> <!-- Based on price range -->
										<ul>
											<li><span class="ti-location-pin"></span>
												<p name="store_address"><?php echo $result[$cnt]["dia_chi"];?></p>
											</li>
											<li><span class="fa fa-tag minmaxpriceicon"></span>
											<p name="store_pricerange"> 
												Price range
											</p>
											</li>
											<li><span class="ti-time"></span>
											<p name="store_opening">Opening hours</p>
											</li>
										</ul>
										<h4 style="font-style:italic; font-size: 15px; color:grey;"> username </h4>
										<div class="bottom-icons">
											<!--<div class="closed-now">CLOSED NOW</div> --><!-- Based on opening hour -->
											<div class="open-now">OPEN NOW</div> <!-- Based on opening time -->
											<div class="closed-now">CLOSED NOW</div> <!-- Based on opening time -->';
											<span class="ti-heart"><span class="upvote display-number" name="store_point">Likes</span></span> 
											<!-- Number of upvotes - number of downvotes -->
											<span class="ti-comments"><span class="comment display-number" name="no_comments">num comments </span></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div> 				
				</div>
			<div class="featured_btn_wrap"  style="width:100%">
				<a class="wtf view_more_button" style="position:relative; left:5%;" href="listing.php?button=liked" id="<?php echo $button?>">XEM THÊM</a> 
			</div>
			</section>
			<!-- LIKED REVIEWS END -->
			<hr>
			<!-- DISLIKED REVIEWS BEGIN -->
			<section class="main-block">
				<div class="container" id="row_of_review">
					<div class="row justify-content-center">
						<div class="col-md-5">
							<div class="styled-heading">
								<h3>LIKED</h3>
							</div>
						</div>
					</div>
					<div class="row" > <!-- LIKED REIVEWS -->
						<div class="col-md-4 featured-responsive">
							<div class="featured-place-wrap">
								<a href="detail.php?review_id=<?php echo $result[$cnt]["id"]; ?>">

								<!--session for detail.php not in ajax-->
								<a href="review_id">;
									<img src="" class="img-fluid" alt="#">
									<span class="<?php echo $class_rating?>">Rating</span>
									<div class="featured-title-box">
										<h6 name="store_name">Store name</h6>
										<p name="store_type">loai</p>
										<!--<p><span>$$$</span>$$</p>--> <!-- Based on price range -->
										<ul>
											<li><span class="ti-location-pin"></span>
												<p name="store_address"><?php echo $result[$cnt]["dia_chi"];?></p>
											</li>
											<li><span class="fa fa-tag minmaxpriceicon"></span>
											<p name="store_pricerange"> 
												Price range
											</p>
											</li>
											<li><span class="ti-time"></span>
											<p name="store_opening">Opening hours</p>
											</li>
										</ul>
										<h4 style="font-style:italic; font-size: 15px; color:grey;"> username </h4>
										<div class="bottom-icons">
											<!--<div class="closed-now">CLOSED NOW</div> --><!-- Based on opening hour -->
											<div class="open-now">OPEN NOW</div> <!-- Based on opening time -->
											<div class="closed-now">CLOSED NOW</div> <!-- Based on opening time -->';
											<span class="ti-heart"><span class="upvote display-number" name="store_point">Likes</span></span> 
											<!-- Number of upvotes - number of downvotes -->
											<span class="ti-comments"><span class="comment display-number" name="no_comments">num comments </span></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div> 				
				</div>
			<div class="featured_btn_wrap" style="width: 100%" >
						<a class="wtf view_more_button" style="position:relative; left:5%;" href="listing.php?button=disliked" id="<?php echo $button?>">XEM THÊM</a> 
					</div>
			</section>
			<hr>
			<!-- DISLIKED REVIEWS END -->

			<!-- POSTED REVIEWS BEGIN -->
			<section class="main-block">
				<div class="container" id="row_of_review">
					<div class="row justify-content-center">
						<div class="col-md-5">
							<div class="styled-heading">
								<h3>LIKED</h3>
							</div>
						</div>
					</div>
					<div class="row" > <!-- LIKED REIVEWS -->
						<div class="col-md-4 featured-responsive">
							<div class="featured-place-wrap">
								<a href="detail.php?review_id=<?php echo $result[$cnt]["id"]; ?>">

								<!--session for detail.php not in ajax-->
								<a href="review_id">;
									<img src="" class="img-fluid" alt="#">
									<span class="<?php echo $class_rating?>">Rating</span>
									<div class="featured-title-box">
										<h6 name="store_name">Store name</h6>
										<p name="store_type">loai</p>
										<!--<p><span>$$$</span>$$</p>--> <!-- Based on price range -->
										<ul>
											<li><span class="ti-location-pin"></span>
												<p name="store_address"><?php echo $result[$cnt]["dia_chi"];?></p>
											</li>
											<li><span class="fa fa-tag minmaxpriceicon"></span>
											<p name="store_pricerange"> 
												Price range
											</p>
											</li>
											<li><span class="ti-time"></span>
											<p name="store_opening">Opening hours</p>
											</li>
										</ul>
										<h4 style="font-style:italic; font-size: 15px; color:grey;"> username </h4>
										<div class="bottom-icons">
											<!--<div class="closed-now">CLOSED NOW</div> --><!-- Based on opening hour -->
											<div class="open-now">OPEN NOW</div> <!-- Based on opening time -->
											<div class="closed-now">CLOSED NOW</div> <!-- Based on opening time -->';
											<span class="ti-heart"><span class="upvote display-number" name="store_point">Likes</span></span> 
											<!-- Number of upvotes - number of downvotes -->
											<span class="ti-comments"><span class="comment display-number" name="no_comments">num comments </span></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div> 				
				</div>
			<div class="featured_btn_wrap" style="width: 100%" >
						<a class="wtf view_more_button" style="position:relative; left:5%;" href="listing.php?button=posted" id="<?php echo $button?>">XEM THÊM</a> 
					</div>
			</section>
			<hr>
		</div>
		<!-- POSTED REVIEWS END -->
		<!--=================================== END REVIEW DETAILS ==================================-->



		<!--=================================== PERSONAL INFORMATION ================================-->
		<div id="infos" class="tabcontent">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
			    	 	<div class="well profile">
				            <div class="col-sm-12">
				                <div class="col-xs-12 col-sm-8">
				                    <h2 style="display: inline-block;">{{current_user.username}}</h2><a href="{{url_for('edit_profile')}}" style="margin-left: 15px">Edit Profile</a>
				                    <p><strong>Email: </strong> {{current_user.email}} </p>
				                    <p><strong>Description: </strong>{{current_user.bio}}</p>
				                    <!-- <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p> -->
				                    <!-- <p><strong>Skills: </strong>
				                        <span class="tags">html5</span> 
				                        <span class="tags">css3</span>
				                        <span class="tags">jquery</span>
				                        <span class="tags">bootstrap3</span>
				                    </p> -->
				                </div>             
				                <div class="col-xs-12 col-sm-4 text-center">
				                    <figure>
				                        <img src="{{url_for('static', filename = current_user.profile_picture)}}" style="border-radius: 50%">
				                        <!-- <img src="images/man.png"> -->
				                        <figcaption class="ratings">
				                            <!-- <p>Ratings
				                            <a href="#">
				                                <span class="fa fa-star"></span>
				                            </a>
				                            <a href="#">
				                                <span class="fa fa-star"></span>
				                            </a>
				                            <a href="#">
				                                <span class="fa fa-star"></span>
				                            </a>
				                            <a href="#">
				                                <span class="fa fa-star"></span>
				                            </a>
				                            <a href="#">
				                                 <span class="fa fa-star-o"></span>
				                            </a> 
				                            </p> -->
				                            <!-- <p style="float:left; margin-right:5px; color: green">Likes: <?php// echo get_number_of_like_of_user($useridPhp);?>
				                            </p>
				                            <p style="float:left; color:red">Dislikes: <?php// echo get_number_of_dislike_of_user($useridPhp);?>
				                        	</p> -->
				                        </figcaption>
				                    </figure>
				                </div>
				            </div>            
				            <div class="col-xs-12 divider text-center" style="height:100%">
				            	
				                <div class="col-xs-12 col-sm-4 emphasis">
				                    <h2 style="margin-bottom: 10px; text-align: center; color:blue;display:inline-block;"><strong>num sub</strong></h2>                    
				                    <!-- <p><small>Subscribers</small></p> -->
				                    <!-- <button class="btn btn-success btn-block"> Subscribe </button> -->
				                    <h3 style="color:blue"><strong> SUBSCRIBERS </strong></h3>
				                </div>
				                <div class="col-xs-12 col-sm-4 emphasis">
				                    <h2 style="margin-bottom: 10px; text-align: center; color:green;"><strong>num likes </strong></h2>                    
				                    <!-- <p><small>Subscribers</small></p> -->
				                    <!-- <button class="btn btn-success btn-block"> Subscribe </button> -->
				                    <h3 style="color:green"><strong> LIKES </strong></h3>
				                </div>
				                <div class="col-xs-12 col-sm-4 emphasis">
				                    <h2 style="margin-bottom: 10px; text-align: center; color:red"><strong>num dislikes</strong></h2>                    
				                    <!-- <p><small>Subscribers</small></p> -->
				                    <!-- <button class="btn btn-success btn-block"> Subscribe </button> -->
				                    <h3 style="color:red"><strong> DISLIKES </strong></h3>
				                </div>
				                <!-- <button style="float:right">Edit</button> -->
				            </div>
			    	    </div>                 
					</div>
				</div>
			</div>
			<style type="text/css">
				@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
				body
				{
				    font-family: 'Lato', 'sans-serif';
				    }
				.profile 
				{
				    min-height: 255px;
				    display: inline-block;
				    }
				.emphasis 
				{
				    margin-top:20px;
				    }
				figcaption.ratings
				{
				    margin-top:20px;
				    }
				figcaption.ratings a
				{
				    color:#f1c40f;
				    font-size:11px;
				    }
				figcaption.ratings a:hover
				{
				    color:#f39c12;
				    text-decoration:none;
				    }
				.divider 
				{
				    border-top:1px solid rgba(0,0,0,0.1);
				    margin-bottom:0;
				    }
				.emphasis 
				{
				    border-top: 4px solid transparent;
				    }
				.emphasis:hover 
				{
				    border-top: 4px solid #1abc9c;
				    }
				.emphasis h2
				{
				    margin-bottom:0;
				    }
				span.tags 
				{
				    background: #1abc9c;
				    border-radius: 2px;
				    color: #f5f5f5;
				    font-weight: bold;
				    padding: 2px 4px;
				    }
				.dropdown-menu 
				{
				    background-color: #34495e;    
				    box-shadow: none;
				    -webkit-box-shadow: none;
				    width: 250px;
				    margin-left: -125px;
				    left: 50%;
				    }
				.dropdown-menu .divider 
				{
				    background:none;    
				    }
				.dropdown-menu>li>a
				{
				    color:#f5f5f5;
				    }
				.dropup .dropdown-menu 
				{
				    margin-bottom:10px;
				    }
				.dropup .dropdown-menu:before 
				{
				    content: "";
				    border-top: 10px solid #34495e;
				    border-right: 10px solid transparent;
				    border-left: 10px solid transparent;
				    position: absolute;
				    bottom: -10px;
				    left: 50%;
				    margin-left: -10px;
				    z-index: 10;
				    }
			</style>
		</div>
		<!--=================================== END PERSONAL INFORMATION ============================-->


		<!-- JavaScript -->
		<!-- JavaScript -->
		<script>
		document.getElementById("defaultOpenTab").click();
		$(document).ready(function() 
		{ 
		 $('#uploadForm').ajaxForm(function() 
		 {
		  alert("Uploaded SuccessFully");
		 }); 
		});

		function preview_image() 
		{
		 var total_file=document.getElementById("upload_file").files.length;
		 for(var i=0;i<total_file;i++)
		 {
		  $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[i])+"'>");
		 }
		}
		</script>
{% endblock content %}